lauri-datafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "lauri-datafactory"
		},
		"DataFactory_ADLS_Gen_2_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"DataFactory_ADLS_Gen_2\""
		},
		"DataFactory_Databricks_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"DataFactory_Databricks\""
		},
		"DataFactory_ADLS_Gen_2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://laurialmacenamiento.dfs.core.windows.net/"
		},
		"DataFactory_Databricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1204-235329-z9bav5l8"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/capabronce_capaplata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ejecutar cuaderno databricks\npara transferencia de capa bronce hacia capa plata",
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/nomoazul2024@hotmail.com/Transformación capa bronce hacia capa plata"
						},
						"linkedServiceName": {
							"referenceName": "DataFactory_Databricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFactory_Databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/capaplata_capaoro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/nomoazul2024@hotmail.com/Transformacion capa plata hacia capa oro"
						},
						"linkedServiceName": {
							"referenceName": "DataFactory_Databricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFactory_Databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy_input_bronce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copiar archivos de carpeta input hacia la capa bronce",
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Archivos_input",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Copy_input_capabronce",
											"type": "DatasetReference",
											"parameters": {
												"nombrearchivo": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Output_copy_input_capabronce",
											"type": "DatasetReference",
											"parameters": {
												"nombrearchivo": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Archivos_input')]",
				"[concat(variables('factoryId'), '/datasets/Copy_input_capabronce')]",
				"[concat(variables('factoryId'), '/datasets/Output_copy_input_capabronce')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ejecutar todo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ejecuta_copy_input_bronce",
						"description": "De input a bronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "copy_input_bronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ejecuta_capabronce_capaplata",
						"description": "Ejecuta de la capabonce a la capa plata",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ejecuta_copy_input_bronce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "capabronce_capaplata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ejecuta_capaplata_capaoro",
						"description": "Ejecuta la capaplata a la capaoro",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ejecuta_capabronce_capaplata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "capaplata_capaoro",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/copy_input_bronce')]",
				"[concat(variables('factoryId'), '/pipelines/capabronce_capaplata')]",
				"[concat(variables('factoryId'), '/pipelines/capaplata_capaoro')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archivos_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFactory_ADLS_Gen_2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "proyectofinal/input",
						"fileSystem": "lauricontenedor"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cod_Categoria",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFactory_ADLS_Gen_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_input_capabronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFactory_ADLS_Gen_2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombrearchivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().nombrearchivo",
							"type": "Expression"
						},
						"folderPath": "proyectofinal/input",
						"fileSystem": "lauricontenedor"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cod_Categoria",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFactory_ADLS_Gen_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_copy_input_capabronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFactory_ADLS_Gen_2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombrearchivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().nombrearchivo",
							"type": "Expression"
						},
						"folderPath": "proyectofinal/capabronce",
						"fileSystem": "lauricontenedor"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFactory_ADLS_Gen_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFactory_ADLS_Gen_2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Servicio para vincular DataFactory con Azure Data Lake Storage Gen 2",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DataFactory_ADLS_Gen_2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DataFactory_ADLS_Gen_2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFactory_Databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conector entre los servicios de DataFactory y DataBricks",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3222014145247412.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('DataFactory_Databricks_accessToken')]"
					},
					"existingClusterId": "[parameters('DataFactory_Databricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_Ejecutar_Todo')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger_Ejecutar_Todo",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ejecutar todo",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 8,
						"startTime": "2024-12-06T00:00:00",
						"endTime": "2024-12-11T06:23:00",
						"timeZone": "SA Pacific Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ejecutar todo')]"
			]
		}
	]
}